<h1>Review the Review</h1>

<p>Leave a review of a pretentious review. Feel free to be pretentious yourself.</p>

<h2>Latest Pitchfork Reviews:</h2>

<p>Reviews looking a little stale?</p>

<button id="pullFreshReviews">Click to pull the latest Pitchfork Reviews</button>

{{#each reviews}}
<div style="border: 1px solid #000000">
    <h4>{{this.artist}}: {{this.album}}</h4>
    <p><em>&quot;{{this.snippet}}&quot;</em></p>
    <p>by: {{this.author}}</p>
    <p><a href="{{this.url}}">Read Original Review</a></p>
    <p><a href="/reviews/{{this._id}}">See Reviews of Review</a></p>
    <p><a href="/leave-review/{{this._id}}">Leave a Review of Review</a></p>
</div>

{{/each}}

<script>
    $("#pullFreshReviews").on("click",function(event){
        console.log("attempting to pull fresh reviews");
        $.post("/api/just-scrape",{ },data => {
            console.log("data: " + data);
            console.log("attemping to reload the page"); 
        }).then(
            location.reload()
        );
    })
</script>