<h1>Review:</h1>

    <h2>{{this.artist}}: {{this.album}}</h2>
    <p><em>&quot;{{this.snippet}}&quot;</em></p>
    <p>by: {{this.author}}</p>

<h2>Leave your review:</h2>


    <p>Your Name:</p>
    <input type="text" id="reviewName" name="reviewName">
    <p>Your Review:</p>
    <textarea id="reviewText" name="reviewText"></textarea>
    <button id="subNewReview">Submit</button>


<script>
    $("#subNewReview").on("click",function(event){
        $.post("/api/post-review",
        { 
            author: $("#reviewName").val().trim(), 
            comment: $("#reviewText").val().trim(), 
            id: "{{this._id}}", 
        })
        .then( () => {
            console.log("we're in the .then()");
            console.log("attemping to reload the page");
            location.assign("/reviews/{{this.id}}");
        })

    })

</script>